@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
	--bg: black;
	--primary: #4eb3de;
	--solid: black;
}

body{
  height: 20vh;
  background: url(img/tambor-1.jpeg);
  position: initial;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.container-titulo{
  width: auto;
  height: auto;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  display: flex;
  font-family: Arial;
  color: white;
}

.box{
  margin: 1%;
  padding: 40px;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2vh;
  display: flex;
  height: 4vw;
  width: 120vh;
}

@media screen and (max-width: 1280px){
  .container-titulo{
    font-size: 3rem;
  }
}

@media screen and (max-width: 1083px){
  .container-titulo{
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px){
  .container-titulo{
    font-size: 2rem;
  }
}

@media screen and (max-width: 660px){
  .container-titulo{
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 540px){
  .container-titulo{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 414px){
  .container-titulo{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 398px){
  .container-titulo{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 370px){
  .container-titulo{
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 360px){
  .container-titulo{
    font-size: 1.4rem;
  }
}

.titulo_guia{
  color: #2C8AC7;
  font-size: 3.5vh;  
  font-family: 'Rubik', sans-serif;
}
  
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    background: #555353da;
  }
  
  .modal[open] {
    display: flex;
    background:rgba(0,0,0,.5);
  }
  
  .model-inner {
    /* background-color: white;
    border-radius: 0.5em;
    max-width: 60%;
    padding: 2vh 5vh;
    margin: auto; */
    background-color: white;
    border-radius: 0.5em;
    max-width: 49%;
    padding: 2vh 5vh;
    margin: auto;
    overflow-y: scroll;
    max-height: 92vh;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #5187a9;
  }
  #modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
    opacity: 0.5;  
  }

  /* X*/
.modal-close{
    background-color: #2C8AC7;
    border-radius: 20px ;
    color: white;
    font-weight: bold;
    border: none;
    font-size:4.5vh;
    padding:0.1% 1%;
  }

  @media screen and (max-width: 360px){
    .modal-close{
      font-size: 3.7vh;
      height: 30px;
      top: 3vh;
      right: 9vh;
      position: absolute;
    }
  }
  
  .modal-close:hover {
    background-color: #1E4055;
    cursor: pointer;
  }
  
  .modal-close-1{
    border-radius: 20px ;
    font-weight: bold;
    border: none;
    font-size:3.5vh;
    width: 60px;
  }
  
  .modal-close-1:hover {
    background-color: #1E4055;
    cursor: pointer;
  }

  .centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    padding: 1vh 0;
  }

 /* circle */

.circle-1 {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border: 5px solid white;
  background: #4eb3de;
  left: 25vh;
  bottom: 45vh;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.circle-1:hover .dot,
.circle-1:focus .dot {
	animation: atom 3s infinite linear;
	display: block;
}

.circle-2 {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border: 5px solid white;
  background: #4eb3de;
  left: 60vh;
  bottom: 3vh;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.circle-2:hover .dot,
.circle-2:focus .dot {
	animation: atom 3s infinite linear;
	display: block;
}

.circle-3 {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border: 5px solid white;
  background: #4eb3de;
  left: 80vh;
  bottom: 50vh;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.circle-3:hover .dot,
.circle-3:focus .dot {
	animation: atom 3s infinite linear;
	display: block;
}

.circle-4 {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border: 5px solid white;
  background: #4eb3de;
  left: 135vh;
  bottom: 30vh;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.circle-4:hover .dot,
.circle-4s:focus .dot {
	animation: atom 3s infinite linear;
	display: block;
}

.circle-5 {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border: 5px solid white;
  background: #4eb3de;
  left: 155vh;
  bottom: 67vh;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.circle-5:hover .dot,
.circle-5s:focus .dot {
	animation: atom 3s infinite linear;
	display: block;
}

.dot {
	position: absolute;
	top: 0;
	width: 10vh;
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}

.dot:after {
  content: '';
	position: absolute;
	left: calc(50% - .4em);
	top: -.4em;
	height: .8em;
	width: .8em;
	background: var(--primary);
	border-radius: 1em;
	border: .25em solid var(--solid);
	box-shadow: 0 0 .7em var(--solid),
				0 0 2em var(--primary);
}

@keyframes atom {
	0% {transform: translateX(0) rotate(0);}
	50%{transform: translateX(0) rotate(0);}
	50% {transform: translateX(0) rotate(360deg);}
	50% {transform: translateX(0) rotate(360deg);}
	50% {transform: translateX(0) rotate(360deg);}
}

.title-circle{
  width: 10vh;
  height: 10vh;
  font-size: 3rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-family: Arial;
  color: white;
}

/*button*/

button {
  position: absolute;
  padding: 25px 77px;
  font-size: 29px;
  border: none;
  background: #033a3d;
  color: rgba(255, 255, 255, .4);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
  border-radius: 1vh;
  bottom: 25px;
  right: 56px;
}

@media screen and (max-width: 658px){
  button{
    padding: 17px 35px;
    font-size: 25px;
    right: 15px;
  }
}

button span {
  position: absolute;
  width: 117%;
  height: 137px;
  border-radius: 29px;
  background: rgba(38, 184, 221, .2);
  top: -1%;
  left: -116%;
  transition: .3s;
}

button:hover span {
  left: -10%;
}

button:hover {
  color: #c0e4da;
  background: #033133;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}

/*modal quiz*/

.modal_quiz{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #555353da;
}

.start_btn{
  background: black;
  border-radius: 0.5em;
  max-width: 35%;
  border-color: white;
  padding: 3vh 3vh;
  margin: auto;
  margin-top: 27vh;
  border: 10px solid white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.start_btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.8);
  color: black;
  transform: translateY(-15px);
}

.finalizar-quiz{
  background: black;
  border-radius: 0.5em;
  max-width: 35%;
  border-color: white;
  padding: 3vh 3vh;
  margin: auto;
  margin-top: 10vh;
  border: 10px solid white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.finalizar-quiz:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.8);
  color: black;
  transform: translateY(-15px);
}

.title-boton-iniciar-1{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  font-family: monospace;
  color: white;
}

.title-boton-iniciar-2{
  font-size: 4.2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  font-family: monospace;
  color: white;
}

/*preloader*/

.loader_bg{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  background: #5b5a5ada;
}

.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 187px;
  height: 219px;
  position: absolute;
  top: calc(50vh - 140px);
  left: calc(50vw - 140px);
}


.loader:before, .loader:after{
  content: '';
  border: 3em solid #0c0c0c;
  border-radius: 600%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

.cd-number-wrapper {
  position: absolute;
	width: 80px;
	height: 80px;
	font-size: 2em;
  margin-top: 54vh;
  margin-left: 92.5vh;
	font-family: 'Londrina Outline'; /* Bowlby One SC */
}

.cd-number-three {
	position: absolute;
	opacity: 0;
	-webkit-animation: cd-number-three-anim 1.2s ease 2.4s 1 normal;
	-moz-animation: cd-number-three-anim 1.2s ease 2.4s 1 normal;
	-ms-animation: cd-number-three-anim 1.2s ease 2.4s 1 normal;
	-o-animation: cd-number-three-anim 1.2s ease 2.4s 1 normal;
	animation: cd-number-three-anim 1.2s ease 2.4s 1 normal;
}

@-webkit-keyframes cd-number-three-anim {
	from {-webkit-transform: scale(0.5); opacity: 0;}
	to {  -webkit-transform: scale(1.3); opacity: 1;}}
	
@-moz-keyframes cd-number-three-anim {
	from {-moz-transform: scale(0.5); opacity: 0;}
	to {  -moz-transform: scale(1.3); opacity: 1;}}
	
@-o-keyframes cd-number-three-anim {
	from {-o-transform: scale(0.5); opacity: 0;}
	to {  -o-transform: scale(1.3); opacity: 1;}}
	
@-ms-keyframes cd-number-three-anim {
	from {-ms-transform: scale(0.5); opacity: 0;}
	to {  -ms-transform: scale(1.3); opacity: 1;}}
	
@keyframes cd-number-three-anim {
	from {transform: scale(0.5); opacity: 0;}
	to {  transform: scale(1.3); opacity: 1;}}

.cd-number-two {
	position: absolute;
	opacity: 0;
	-webkit-animation: cd-number-two-anim 1.2s ease 3.6s 1 normal;
	-moz-animation: cd-number-two-anim 1.2s ease 3.6s 1 normal;
	-ms-animation: cd-number-two-anim 1.2s ease 3.6s 1 normal;
	-o-animation: cd-number-two-anim 1.2s ease 3.6s 1 normal;
	animation: cd-number-two-anim 1.2s ease 3.6s 1 normal;
}

@-webkit-keyframes cd-number-two-anim {
	from {-webkit-transform: scale(0.5); opacity: 0;}
	to {  -webkit-transform: scale(1.3); opacity: 1;}}
	
@-moz-keyframes cd-number-two-anim {
	from {-moz-transform: scale(0.5); opacity: 0;}
	to {  -moz-transform: scale(1.3); opacity: 1;}}
	
@-o-keyframes cd-number-two-anim {
	from {-o-transform: scale(0.5); opacity: 0;}
	to {  -o-transform: scale(1.3); opacity: 1;}}
	
@-ms-keyframes cd-number-two-anim {
	from {-ms-transform: scale(0.5); opacity: 0;}
	to {  -ms-transform: scale(1.3); opacity: 1;}}
	
@keyframes cd-number-two-anim {
	from {transform: scale(0.5); opacity: 0;}
	to {  transform: scale(1.3); opacity: 1;}}

.cd-number-one {
	position: absolute;
	opacity: 0;
	-webkit-animation: cd-number-one-anim 1.2s ease 4.8s 1 normal;
	-moz-animation: cd-number-one-anim 1.2s ease 4.8s 1 normal;
	-ms-animation: cd-number-one-anim 1.2s ease 4.8s 1 normal;
	-o-animation: cd-number-one-anim 1.2s ease 4.8s 1 normal;
	animation: cd-number-one-anim 1.2s ease 4.8s 1 normal;
}

@-webkit-keyframes cd-number-one-anim {
	from {-webkit-transform: scale(0.5); opacity: 0;}
	to {  -webkit-transform: scale(1.3); opacity: 1;}}
	
@-moz-keyframes cd-number-one-anim {
	from {-moz-transform: scale(0.5); opacity: 0;}
	to {  -moz-transform: scale(1.3); opacity: 1;}}
	
@-o-keyframes cd-number-one-anim {
	from {-o-transform: scale(0.5); opacity: 0;}
	to {  -o-transform: scale(1.3); opacity: 1;}}
	
@-ms-keyframes cd-number-one-anim {
	from {-ms-transform: scale(0.5); opacity: 0;}
	to {  -ms-transform: scale(1.3); opacity: 1;}}
	
@keyframes cd-number-one-anim {
	from {transform: scale(0.5); opacity: 0;}
	to {  transform: scale(1.3); opacity: 1;}}

/*quiz*/

.main-wrapper{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #5b5a5ada;
}

.title-wrapper{
  background: white;
  padding: 15px;
  height: 12vh;
}

/*temporizador*/


#contenedor {
  width: 100em;
  height: 1em;
}

#barra {
  width: 0;
  height: 100%;

  -webkit-animation: progreso 10s linear infinite;
          animation: progreso 10s linear infinite;

  background: #009BE3;
}

@-webkit-keyframes progreso {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

@keyframes progreso {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

@-webkit-keyframes porcentaje {
  0% {
      content: '0%';
  }
  25% {
      content: '25%';
  }
  50% {
      content: '50%';
  }
  75% {
      content: '75%';
  }
  100% {
      content: '100%';
  }
}

@keyframes porcentaje {
  0% {
      content: '0%';
  }
  25% {
      content: '25%';
  }
  50% {
      content: '50%';
  }
  75% {
      content: '75%';
  }
  100% {
      content: '100%';
  }
}

/*question*/

.question_box{
  background: white;
  color: black;
  font-size: 2.5rem;
  width: 50vw;
  padding: 10px;
  margin: 20px auto;
  border-radius: 20px;
  text-align: center;
}

#question{
  letter-spacing: 1px;
  text-align: center;
}

/*Preloader number*/
.countdown {
  position: relative;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.countdown:before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #000;
  border-radius: 50%;
  filter: blur(14px);
  animation: shadow 1s linear infinite;
}

@keyframes shadow {
  0%, 100% {
    transform: scale(0.5);
  }
  
  50% {
    transform: scale(1);
  }
}

.countdown .number {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(270deg);
  animation: animate 4s linear infinite;
}

.countdown .number:nth-child(1) {
  animation-delay: 0s;
}

.countdown .number:nth-child(2) {
  animation-delay: 1s;
}

.countdown .number:nth-child(3) {
  animation-delay: 2s;
}

.countdown .number h2 {
  margin: 0;
  padding: 0;
  font-size: 8em;
  color: #fff;
}

@keyframes animate {
  0% {
    transform: rotateY(90deg);
  }
  
  10%, 100% {
    transform: rotateY(-90deg);
  }
}

.position-options{
  display: flex;
  flex-direction: row;
}

.option{
  background: white;
  color: black;
  font-size: 2rem;
  width: 40vw;
  margin: 20px auto;
  border-radius: 20px;
}

/****** Quiz editable ******/
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
}
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    opacity: 1;
    pointer-events: auto;
}

.quiz_box.activeQuiz{
    background: #5b5a5ada;
}
    
.info_box {
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.info_box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}
.info_box .info-list {
    padding: 15px 30px;
}
.info_box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info-list .info span {
    font-weight: 600;
    color: red;
}
.info_box .buttons {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgray;
}
.info_box .buttons button {
  margin: -6px 99px;
  height: 42px;
  width: 207px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 64px;
  border: 1px solid #38b6fe;
  transition: all 0.3s ease;
}

.quiz_box {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.quiz_box header {
    position: relative;
    z-index: 2;
    height: 17vh;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}
.quiz_box header .timer {
    height: 45px;
    padding: 0 8px;
    display: flex;
    opacity: 0;
}
.quiz_box header .timer .time_left_text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: red;
    border: 3px solid red;
    user-select: none;
}
.quiz_box header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    width: 180vh;
    background: #009BE3;
    border: 5px solid #009BE3;
}

section .option_list .option {
    border: 1px solid;
    padding: 15px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}
section .option_list .option:last-child {
    margin-bottom: 0px;
}
section .option_list .option:hover {
    color: #38b6fe;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
section .option_list .option.correct {
    color: #009933;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect {
    color: #cc3300;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
section .option_list .option.disabled {
    pointer-events: none;
}
section .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick {
    color: #fff;
    border-color: #23903c;
    background: #009933;
}
.option_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
footer .total_que span {
    display: flex;
    user-select: none;
}
footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
}
footer .total_que span p:first-child {
    padding-left: 0px;
}
footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #38b6fe;
    border: 1px solid #38b6fe;
    line-height:10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
footer button:hover {
    background: #38b6fe;
}
footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.result_box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.result_box .icon {
    font-size: 100px;
    color: #38b6fe;
    margin-bottom: 10px;
}
.result_box .complete_text {
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons {
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px solid #38b6fe;
    transition: all 0.3s ease;
}
.buttons button.restart {
    color: #fff;
    background: #38b6fe;
}
.buttons button.restart:hover {
    background: #38b6fe;
}
.buttons button.quit {
    color: #38b6fe;
    background: #fff;
}
.buttons button.quit:hover {
    color: #fff;
    background: #38b6fe;
}

.header_logo--container {
  width: 100%;
  display: flex;
  justify-content: center;
}